{% extends 'base.html' %}
{% block title %}Dashboard{% endblock %}
{% load static %}
{% block custom_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <div class="card">
                    <div class="card-content">
                        <div class="row">
                            <span class="card-title grey-text text-darken-2">Lista de vehiculos</span>
                            <div class="divider"></div>
                            {% for carro in carros %}
                            <div class="col s12 m6 l3">
                                <div class="card small">
                                    <div class="card-image">
                                        <img src="{{ carro.image.url }}" height="150" />
                                        <span class="card-title">{{ carro.marca }}</span>
                                    </div>
                                    <div class="card-content">
                                        <p>Modelo: {{ carro.modelo }}</p>
                                        <p>Precio: $ {{ carro.precio }} USD</p>
                                    </div>
                                    <div class="card-action">
                                        <a href="{% url 'vehiculos:editar-vehiculo' carro.id %}" class="btn-floating waves-effect waves-light blue darken-1">
                                            <i class="material-icons">edit</i>
                                        </a>
                                        <a href="{% url 'vehiculos:eliminar-vehiculo' carro.id %}" class="btn-floating waves-effect waves-light red darken-1">
                                            <i class="material-icons">delete</i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                <!-- Modal Trigger -->
                <a class="waves-effect waves-light btn modal-trigger" href="#modal1">Modal</a>

                <!-- Modal Structure -->
                <div id="modal1" class="modal">
                    <div class="modal-content">
                        <div class="card">
                            <div class="card-content">
                                <p>Hola caserola</p>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
                    </div>
                </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% block scripts %}
<script>
    $(document).ready(function() {
       $('.modal').modal();
    });
</script>    
{% endblock %}

{% endblock %}